/alogo-2.svg
/build
/Consolidated_Barcode_Form - Buttons - Extended.docx
/Consolidated_Barcode_Form - Buttons - Extended.mht
/Dependancies
/dist
/packaged_logo.png
/personal_shipping_form.py
/personal_shipping_form.*
/personal_shipping_form.spec
barcode_functions.py
*.pyc